{% extends "project/base.html" %}
{% load i18n %}
{% block styles %}
<link rel="stylesheet" href="/static/source/pages/login/index.css.map">
<link rel="stylesheet" href="/static/source/lib/fancybox/jquery.fancybox.min.css">
<link rel="stylesheet" href="/static/source/pages/login/index.css?v=3">
{% endblock styles %}
{% load account %}
{% block head_title %}{% trans "Password Reset" %}{% endblock %}
{% block content %}
<section class="login_section">
        <div class="registery__wrap">
          <div class="registery_bg">
            <img src="/static/source/img/registery/screenshot-2020-06-04-at-19-33-14.jpg" alt="">
          </div>
          <div class="registery_content">
            <div class="registery__block absolute_center">
                <h1 class="main__title main__title_2 color_black">{% trans "Password Reset" %}</h1>
                {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
                {% endif %}
                <p class="sub_title sub_title_2 color_black">{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
            </div>
          </div>
        </div>
    </section>
{% endblock %}
{% block scripts %}
<script src="/static/source/lib/jquery/index.js"></script> 
<script src="/static/source/lib/lazyload/lazyloadxt.extra.js"></script> 
<script src="/static/source/lib/validation/validation.min.js"></script> 
<script src="/static/development/components/module/form_errors/index.js"></script> 
<script src="/static/source/lib/fancybox/jquery.fancybox.min.js"></script> 
<script src="/static/source/pages/login/index.js"></script> 
{% endblock scripts %}
































