{% extends "project/base.html" %}
{% load i18n %}
{% block styles %}
<link rel="stylesheet" href="/static/source/pages/login/index.css.map">
<link rel="stylesheet" href="/static/source/lib/fancybox/jquery.fancybox.min.css">
<link rel="stylesheet" href="/static/source/pages/login/index.css?v=3">
{% endblock styles %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}
{% block content %}
<section class="login_section">
    <div class="registery__wrap">
      <div class="registery_bg">
        <img src="/static/source/img/registery/screenshot-2020-06-04-at-19-33-14.jpg" alt="">
      </div>
      <div class="registery_content">
        <div class="registery__block absolute_center">
            <h1 class="main__title main__title_2 color_black">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>

            {% if token_fail %}
            {% url 'account_reset_password' as passwd_reset_url %}
            <p class="sub_title sub_title_2 color_black">{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
            {% else %}
            {% if form %}
            <form method="POST" action="{{ action_url }}">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" class="btn_standart btn_standart_black" name="action" value="{% trans 'change password' %}"/>
            </form>
            {% else %}
            <p class="sub_title_2 sub_title_2 color_black">{% trans 'Your password is now changed.' %}</p>
            {% endif %}
            {% endif %}
        </div>
      </div>
    </div>
  </section>

{% endblock %}
{% block scripts %}
<script src="/static/source/lib/jquery/index.js"></script> 
<script src="/static/source/lib/lazyload/lazyloadxt.extra.js"></script> 
<script src="/static/source/lib/validation/validation.min.js"></script> 
<script src="/static/development/components/module/form_errors/index.js"></script> 
<script src="/static/source/lib/fancybox/jquery.fancybox.min.js"></script> 
<script src="/static/source/pages/login/index.js"></script> 
{% endblock scripts %}

















