settings.ini

db.sqlite3

migrations
migrations/
**/migrations/
**/migrations/*
**/migrations/**
!**/migrations
!**/migrations/__init__.py

__pycache__
__pycache__/
**/__pycache__/**
!**/__pycache__
*.pyc
.pyc 

.env
.venv
venv/
ENV/
env/

/media/shop/item
**/media/shop/item/**

static_root/
node_modules
.vscode
