django==3.2.8
djangorestframework
django-modeltranslation==0.15.1
django-import-export==2.9
lxml
django-admin-sortable2==1.0
celery
rabbitmq
requests
django-decouple
django-debug-toolbar
django-cors-headers
django-autocomplete-light
django-admin-autocomplete-filter
django-mptt
django-tinymce4-lite==1.8.0
django-ckeditor
django-allauth
django-rosetta
django-colorfield
djangorestframework-simplejwt
django-admin-rangefilter
django-nested-admin
transliterate
pandas
django-autocomplete-light
django-filebrowser-no-grappelli
selenium
beautifulsoup4
XlsxWriter
jsmin
xmltodict
social-auth-app-django
unidecode==1.3.8
