.section_order {
    min-height: 100vh;
    padding-bottom: 30px;

    .wrap_for_footer_btn {
        justify-content: flex-start;
        margin-top: 20px;
    }
    .btn_standart {
        padding: 17px 25px;
    }
}
.one_input__wrap {
 position: relative;
 transition: all .2s;
 opacity: 1;
 max-height: 1000px;
 margin-top: 20px;
}
.two_input__wrap {
 position: relative;
 transition: all .2s;
 opacity: 1;
 max-height: 1000px
}
.hidden_input__wrap {
    left: -200%;
    opacity: 0;
    max-height: 0px;
}
.order {
    &__wrap {
        display: flex;
        justify-content: space-between;
    }
    &_label {
        position: absolute;
    }
    &_input {
        outline: none;
        border: none;
        border-bottom: 1px solid #3d3c3a;
        background: transparent;
        color: #3d3c3a;
        width: 100%;
    }
    &_info__block {
        width: 50%;
    }
    &_item__block {
        width: 40%;
    }
    &_item__wrap {
        background: #f6f6f6;
        position: sticky;
        top: 100px;
        margin-top: -33px;
    }
    &_item_result {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid #2b2a27;
        padding: 15px 25px;

    }
    &_item_content__block {
        padding: 15px 25px;
        padding-top: 0;
        overflow-y: auto;
        height: 340px;
    }
}
.step {
    &_content {
        transition: all .2s;
        max-height: 0px;
        visibility: hidden;
        opacity: 0;
    }
    &_title {
        transition: all .2s;
    }
    &__wrap {
        &_active {
            .step_content {
                max-height: 1000px;
                opacity: 1;
                visibility: visible;
            }
            .step_title {
                color: #ffd10a;
            }
        }
        .select2-container {
            width: 100% !important;
        }
        .select-block * {
            outline: none;
        }
        .select2-search__field {
            outline: none;
        }
        .select2-container .select2-selection--single {
            border: none !important;
            border-bottom: 1px solid #1d1b13 !important;
            border-radius: 0 !important;
        }

    }
    &_num {
        width: 50px;
        height: 50px;
        border: 1px solid #ffd10a;
        text-align: center;
        padding-top: 13px;
        margin-right: 20px;
        transition: all .2s;
        &_active {
            background: #ffd10a;
        }
        &_error {
            background: #FF0000;
            color: #fff;
            border: 1px solid #FF0000;
        }
    }
    &_title__wrap {
        display: flex;
        align-items: center;
        margin-top: 25px;
        cursor: pointer;
        margin-bottom: 30px;
    }
    &_content {
        padding-left: 70px;

    }
}
.radio {
    &_block {
        display: flex;
        align-items: center;
        cursor: pointer;
        margin-bottom: 15px;
    }
    &_tchk {
        position: relative;
        width: 26px;
        height: 26px;
        border: solid 1px #242321;
        border-radius: 50%;
        margin-right: 10px;

    }
    &_center {
        transition: all .2s;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background: transparent;
        &_active {
            background: #ffd10a;
        }
    }
}
.select-block {
    margin-top: 15px;
}
.liqpay {
    margin: 25px 0;
    display: block;
}

@media (max-width: 992px) {
    .order__wrap {
        flex-direction: column-reverse;
    }
    .order_item__block {
        width: 100%;
        margin: 20px 0px;
    }
    .order_info__block {
        width: 100%;
    }
    .order_item__wrap {
        margin-top: 0;
    }
}

@media (max-width: 444px) {
    .order_item_content__block {
        padding: 15px 10px;

        .basket_profile_img {
            width: 80px;
            height: 80px;
            margin-right: 10px;

        }
        .basket_right_content {
            margin-top: -4px;
        }
    }
    .order_item_result {
        padding: 15px 10px;
    }
}