<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="{{ integration.service_url }}" method="post" id="privat24_pay_form">
        {% csrf_token %}
        <div id="form1">
            {% with integration.generate_form as form %}
                {{ form.as_p }}
                <p class="blue_text_popup">Всього: {{ form.amt.value }} грн</p>
            {% endwith %}
        </div>
        <div class="clear10"></div>
        <button class="light_blue_bg btn_add  fr">Сплатити</button>
    </form>
</body>
</html>