.footer {
    background-color: #2b2a27;
    padding: 30px;

    input:-webkit-autofill {
        -webkit-box-shadow: inset 0 0 0 50px #2b2a27; /* цвет вашего фона */
        -webkit-text-fill-color: #fff; /* цвет текста */
    }
    &_main_content {
        display: flex;
        justify-content: space-between;
    }
    &_bottom_info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 20px;
        margin-top: 45px;
    }
    &_starway__block {
        display: flex;
        align-items: center;
        
    }
}
.svg_sw {
    g {
        transition: all .2s;
    }
}
.starway_logo {
    transition: all .2s;
    margin-left: 20px;

    &:hover {
        .svg_sw {
            g {
                transition: all .2s;
                fill: #ffd10a;
            }
        }
    }
}
.footer {
    &_accordeon__block {
    
    }
    &_part {
        width: 25%;

    }
    &_accordeon_name {
        display: flex;
        align-items: center;
    }
    
    &_accordeon_text {
        margin: 10px 0;
        transition: all .2s;
        &:hover {
            color: #ffd10a;
        }
    }
    &_logo {
        margin-bottom: 30px;
        display: block;
    }
    &_social {
        margin-right: 20px;
        &__block {
            margin-top: 30px;
        }
        &_svg {
            path {
                transition: all .2s;
            }
        }
        &:hover {
            .footer_social_svg {
                path {
                    fill: #ffd10a;
                }
            }
        }
    }
    &_info {
        display: flex;
        margin-top: 10px;
        align-items: center;

        &_svg {
            margin-right: 15px;
        }
    }
    &_info_text {
        transition: all .2s;

        &:hover {
            color: #ffd10a;
        }
    }
    &_btn {
        display: block;
        color: #fff;
        font-size: 30px;
        cursor: pointer;
        transform: rotate(45deg);
        width: 10px;
        height: 10px;
        border-bottom: 1px solid #fff;
        border-right: 1px solid #fff;
        border-top: none;
        border-left: none;
        text-align: center;
        margin-left: 20px;
        margin-bottom: 0;
        transition: all .2s;
        display: none;
    }
    &_accordeon_content {
        overflow: hidden;
        max-height: 10000px;
        transition: all .4s;
        display: flex;
        flex-direction: column;
        &_active {
            transition: all .4s;
            max-height: 1000px;
        }
    }
    &_btn_active {
        border-bottom: none;
        border-right: none;
        border-top: 1px solid #fff;
        border-left: 1px solid #fff;
        margin-bottom: -6px;
    }
    &_input__wrap {
        position: relative;
        margin-bottom: 20px;
        min-height: 45px;

    }
    &_input {
        outline: none;
        border: none;
        border-bottom: 1px solid #fff;
        background: transparent;
        color: #fff;
        width: 100%;
    }
    &_form {
        margin-top: 20px;
    }
    &_label {
        position: absolute;
    }
}
.user_send {
        resize: none;
        outline: none;
        border: none;
        border-bottom: 1px solid #fff;
        background: transparent;
        color: #fff;
        width: 100%;
}
.wrap_for_footer_btn {
    display: flex;
    justify-content: flex-end;

    input {
        text-transform: uppercase;
    }
}
@media (max-width: 992px) {

    .wrap_for_footer_btn {
        .btn_standart_yellow {
            margin: 0 auto;
        }
    }
    .footer_main_content {
        flex-direction: column;
    }
    .footer_accordeon_content {
        max-height: 0px;
    }
    .footer_accordeon_content_active {
        max-height: 10000px;
    }
    .footer_part {
        width: 100%;
    }
    .footer_btn {
        display: block; 
    }
    .footer_social__block {
        margin-bottom: 45px;
    }
    .footer_accordeon__block {
        margin-bottom: 20px;
    }
    .footer_bottom_info {
        margin-top: 25px;
    }
}
@media (max-width: 655px) {
    .footer_bottom_info {
        flex-direction: column;
        align-items: end;
    }
    .footer_starway__block {
        margin-top: 10px;
    }
}

.footer_form_constructor{
    display: none;
}