<div class="two_input__wrap">
  <div class="select-block">
    <input type="hidden" name="nova_pochta_department" class="nova_city nova_pochta_hidden">
    <div class="select_label sub_title sub_title_3 color_black">
      Місто
    </div>
    <select name="" id="" style="width: 100%;" class="select_city">
      
    </select>
  </div>
  <div class="select-block">
    <input type="hidden" name="nova_pochta_department" class="nova_pochta_hidden">
    <div class="select_label sub_title sub_title_3 color_black">
      Номер відділення
    </div>
    <select name="" id="" style="width: 100%;" class="select_aria">
      
    </select>
  </div>
</div>