{% extends 'project/base.html' %} 
{% load i18n sw_content constructor %} 
{% block styles %}
<link rel="stylesheet" href="/static/source/pages/constructor_setings/index.css" />
<link rel="stylesheet" href="/static/source/pages/constructor_setings/index.css.map" />
<link rel="stylesheet" href="/static/source/pages/profile/index.css.map" />
<link rel="stylesheet" href="/static/source/lib/slick/slick.min.css" />
<link rel="stylesheet" href="/static/source/lib/slick/slick-theme.css" />
<link rel="stylesheet" href="/static/source/lib/fancybox/jquery.fancybox.min.css" />
<link rel="stylesheet" href="/static/source/pages/item/index.css?v=3" />
<link rel="stylesheet" href="/static/source/pages//login/index.css" />
<link rel="stylesheet" href="/static/source/pages/profile/index.css?v=3" />
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap"
  rel="stylesheet" />
{% endblock styles %} {% block content %}
<section class="padding_sect">
  <div class="settings">
    <div class="settings__categories_wrap">
      <div class="settings__categories">
        <div class="settings__categories_title">Конструктор</div>
        <div class="settings__categories_main">
          <div class="settings__category_wrap">
            {% for tab in frame.get_tabs %}
            <div data-admin_url="{{tab.get_admin_url}}" data-tab_header="{{forloop.counter}}"
              class="db_content settings__category {%if forloop.counter == 1%}settings__category-active{% endif %}">
              <div class="settings__category_main">
                <div class="settings__category_img">
                  <img src="{{tab.image_url}}" alt="" srcset="" />
                </div>
                <div class="settings__category_description">
                  <div class="settings__category_title">
                    {{tab.name}}
                  </div>
                  <div class="settings__category_subtitle">
                    {{tab.description}}
                  </div>
                </div>
              </div>
              <div class="settings__category_hover">
                <div class="settings__category_hover_sqar"></div>
                <div class="settings__category_hover_triangl"></div>
              </div>
            </div>
            {% endfor %}
          </div>
          <div class="settings__category_footer">
            <div class="">
              Для того, щоб побачити усі внесені зміни нажміть на кнопку
              “Показати в 3D”
            </div>
            <!-- <a class="btn_standart btn_standart_black color_white  vizual_3d" href="#">Показати в 3D</a> -->
          </div>
        </div>
      </div>
    </div>
    <div class="settings__parameters_wrap">
      <form class="constructor_setings">
        {% for tab in frame.get_tabs %}
        <div data-tab_main="{{forloop.counter}}" class="settings__parameters {%if forloop.counter == 1 %}settings__parameters-active{%endif%}">
          {% if forloop.counter == 1%}
          <div class="settings__group settings__group-start">
            <div class="settings__group_back">
              <div class="settings__group_back-icons">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="15" viewBox="0 0 25 15">
                  <path fill="#1B1813" fill-rule="evenodd"
                    d="M7.071 0l.707.707L1.91 6.574h22.67v1H1.917l5.861 5.861-.707.707L0 7.072 7.071 0z"></path>
                </svg>
              </div>
              <div class="">
                <div class="settings__group_title">{{tab.name}}</div>
              </div>
            </div>
            <div class="settings__group_title">{{tab.name}}</div>
            <div class="settings__box">
              <div class="settings__box_title">Тип рами</div>
              <div class="settings__box_main1 settings__box_main-card" data-input_value="iframe_type">
                <input type="hidden" name="iframe_type" id="iframe_type" value="{{frame.code}}">
                <div class="settings__box_main_content">
                  {% for frame in frames %}
                  <div class="settings__card settings__card-iframe">
                    <div class="settings__card_img">
                      <img src="{{frame.image_url}}" alt="">
                    </div>
                    <div class="form__radio {%if frame == current_frame %}form__radio-active{%endif%}"
                      data-value="{{frame.code}}">
                      <div class="form__radio_check"></div>
                      <div class="form__radio_main">
                        <div class="form__radio_title">{{frame.name}}</div>
                        <div class="form__radio_price">{{frame.price}} грн.</div>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
            <div class="settings__box">
              <div class="settings__box_title">Колір рами</div>
              <div class="settings__box_main settings__box_main-color" data-input_value="iframe_color">
                <div class="settings__box_loader">
                  <div class="lds-ellipsis">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                  </div>
                </div>
                {% if iframe_color %}
                <input type="hidden" value="{{iframe_color}}" name="iframe_color" id="iframe_color" class="iframe_color">
                {% else %}
                <input type="hidden" value="{{frame.get_colors.first.color}}" name="iframe_color" id="iframe_color" class="iframe_color">
                {% endif %}
                <div class="settings__box_main_content">
                  {% for frame_color in frame.get_colors %}
                  {% if iframe_color %}
                  <div class="form__color {%if frame_color.color == iframe_color%}form__color-active{%endif%}" data-color="{{frame_color.color}}" style="background: rgb(9, 9, 9);">
                  {% else %}
                  <div class="form__color {%if forloop.counter == 1 %}form__color-active{%endif%}" data-color="{{frame_color.color}}" style="background: rgb(9, 9, 9);">
                  {% endif %}
                    <div class="form__color_check">
                      <img src="./../../static/source/img/interface/check.svg">
                    </div>
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
          {% endif %}
          <div>
            <div>
              {% for tab_group in tab.get_tab_groups %}
              <div class="settings__group">
                <div class="settings__group_title">{{tab_group.name}}</div>
                {% for parameter in tab_group.get_parameters %}
                <div class="settings__box">
                  <div class="settings__box_title">{{parameter.name}}</div>

                    {% if parameter.type == 'radio_color' %}
                    <div class="settings__box_main settings__box_main-color" data-input_value="{{parameter.code}}">
                    {% elif parameter.type == 'checkbox_options' %}
                    <div class="settings__box_main settings__box_main-checkbox" data-input_value="{{parameter.code}}">
                    {% elif parameter.type == "radio_img" %}
                    <div class="settings__box_main settings__box_main-card" data-input_value="{{parameter.code}}">
                    {% elif parameter.type == "radio_small" %}
                    <div class="settings__box_main settings__box_main-radio" data-input_value="{{parameter.code}}">
                    {% else %}
                    !!!! 
                    {% endif %}
                    
                    <div class="settings__box_loader"><div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div></div>

                    {% if parameter.type == 'radio_color' %}
                    <input type="hidden" value="{{parameter.get_values.first.color}}" name="{{parameter.code}}" id="{{parameter.code}}" class="{{parameter.code}}">
                    {% elif parameter.type == 'checkbox_options' %}
                    {% else %}
                    <!-- <br>code sdf:{{parameter.get_values.first.code}}
                    <br>parameter sdf:{{parameter}}
                    <br>parameter.get_values sdf:{{parameter.get_values}} -->
                    <input type="hidden" sdf value="{{parameter.get_values.first.code}}" name="{{parameter.code}}" id="{{parameter.code}}" class="{{parameter.code}}">
                    {% endif %}
                    
                    <div class="settings__box_main_content">
                      {% for value in parameter.get_values %}
                        {% if parameter.type == 'radio_color' %}
                          {% get_color_class request value=value counter=forloop.counter codes=codes colors=colors as color_class %}
                          <div class="form__color {{color_class}}" data-color="{{value.color}}" style="background: rgb(0, 0, 0) none repeat scroll 0% 0%;">
                            <div class="form__color_check">
                              <img src="./../../static/source/img/interface/check.svg">
                            </div>
                          </div>
                        {% elif parameter.type == 'checkbox_options' %}
                          <div class="settings__group settings__group-start">
                            {% get_checkbox_class request value=value counter=forloop.counter codes=codes colors=colors as checkbox_class %}
                            <div class="form_box__item {{checkbox_class}} form_box__item-black_bord2">
                              <svg class="plus" width="9" height="9" viewBox="0 0 9 9">
                                <path fill="#242321" fill-rule="evenodd" d="M5 0v4h4v1H5v4H4V5H0V4h4V0h1z"></path>
                              </svg>
                              <div class="name"> {{value.name}} </div>
                              <input type="checkbox" name="{{value.code}}" value="true"  >
                            </div>
                          </div>
                        {% elif parameter.type == 'radio_img'  %}
                          <div class="settings__card">
                            <div class="settings__card_img">
                              <img src="{{value.image_url}}" alt="">
                            </div>
                            {% get_radio_class request value=value counter=forloop.counter codes=codes colors=colors as radio_class %}
                            <div class="form__radio {{radio_class}}" data-childrens="{{value.generate_children_json}}" data-value="{{value.code}}">
                              <div class="form__radio_check"></div>
                              <div class="form__radio_main">
                                <div class="form__radio_title">{{value.name}} </div>
                                <div class="form__radio_price">{{value.price}} грн</div>
                              </div>
                            </div>
                          </div>
                        {% elif parameter.type == 'radio_small'  %}
                            {% get_radio_class request value=value counter=forloop.counter codes=codes colors=colors as radio_class %}
                            <div class="form__radio {{radio_class}}" data-childrens="{{value.generate_children_json}}" data-value="{{value.code}}">
                            <div class="form__radio_check"></div>
                            <div class="form__radio_main">
                              <div class="form__radio_title">{{value.name}}</div>
                              <div class="form__radio_price">{{value.price}} грн</div>
                            </div>
                          </div>
                        {% endif %}
                      {% endfor %}
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
              {% endfor %}
            </div>
          </div>
          <div class="settings__parameters_foter">
            <div class="settings__parameters_next  btn_standart btn_standart_yellow color_white  ">ДАЛІ</div>
            <div class="settings__parameters_next btn_standart btn_standart_black color_white">ПОКАЗАТИ В 3D</div>
          </div>
        </div>
        {% endfor %}
        </form>


        <div class="settings__parameters_navigation">	       
          <div class="price">	         
            <div class="price">
              <div class="title">Загальна ціна</div>	          
              <div class="value">{{initial_price}} грн</div>	           
            </div>	         
          </div>
          <div class="btn_standart btn_standart_yellow next_tab">ДАЛІ</div>	         
          <a class="btn_standart btn_standart_black color_white  vizual_3d">ПОКАЗАТИ В 3D</a>	       
        </div>


    </div>
  </div>
</section>
{% endblock content %} {% block scripts %}
<script src="/static/source/lib/jquery/index.js"></script>
<script src="/static/source/lib/maskinput/maskinput.js"></script>
<script src="/static/source/lib/slick/slick.min.js"></script>
<script src="/static/source/lib/wow/wow.min.js"></script>
<script src="/static/source/lib/lazyload/lazyloadxt.extra.js"></script>
<script src="/static/source/lib/validation/validation.min.js"></script>
<script src="/static/development/components/module/form_errors/index.js"></script>
<script src="/static/source/lib/fancybox/jquery.fancybox.min.js"></script>
<script src="/static/source/pages/constructor_setings/index.js"></script>
<script src="/static/source/pages/constructor_setings/index.js.map"></script>
<!-- <script src="/static/source/pages/profile/index.js"></script> -->
{% endblock scripts %}


