.bg_for_usually_page {
    width: 100%;
    position: relative;
    height: 650px;

    .eleek_video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
#drive_send {
    resize: none;
    margin-top: 40px;
}
.usually_section {

}

.drive__form {
    
    .select2-container {
        width: 100% !important;
    }
    * {
        outline: none;
    }
    .select2-search__field {
        outline: none;
    }
    .select2-container .select2-selection--single {
        border: none !important;
        border-bottom: 1px solid #1d1b13 !important;
        border-radius: 0 !important;
    }
}
.drive {
    &_form__block {
        display: flex;
        padding: 50px 0;

        .btn_standart {
            text-transform: uppercase;
            padding: 17px 26px;
        }
    }
    &_subtitle {
        padding: 35px 0;
        padding-bottom: 45px;
    }
    &__form {
        width: 40%;
        padding: 25px 55px;
        margin-top: -140px;
        position: relative;
        z-index: 1;
        background: #fff;
    }
    &_map__block {
        width: 60%;
        height: 650px;
    }
}

.area_input__wrap {
    margin-top: 35px;
}
.label_select_drive {
    top: -21px;
}


.eleek {
    &_title__wrap {
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 50px;
        margin-bottom: 20px;
    }
    &_arrow__block {
        display: flex;
        align-items: center;
        width: 120px;
        justify-content: space-between;
        margin-right: 130px;
    }
    &_arrow {
        position: relative;
        width: 50px;
        height: 50px;
        border: solid 1px #1e1b15;
        text-align: center;
        cursor: pointer;
        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    &_prev_arrow {

    }
    &_next_arrow {
            transform: rotate(180deg);

    }
}
.part_next_arrow {
    transform: rotate(180deg);
}

.doc_prof {
   img {
    width: 90%;
    margin: 0 auto;
    text-align: center;
   }
}
.partner {
    &_slider {
       
    }
    &_prof {
        width: 90% !important;
        text-align: center;
        margin: 0 auto;
        height: 110px;
        display: flex !important;
        flex-direction: column;
        justify-content: center;

        img {
            object-fit: contain;
            width: 100%;
            height: 100%;
        }
    }
    &_arrow {
        display: none;
    }
    &_title__wrap {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 50px;
    }
}
.partners_block {
    padding: 25px 55px;
    padding-top: 200px;
}

.contact_form__block {
    .drive__form {
        margin-top: 0;
    }
    .area_input__wrap {
        margin-top: 0;
    }
    .drive_title {
        margin-bottom: 30px;
    }
}

@media (max-width: 1620px) {
    .partners_block {
        padding: 25px 55px;
    }
}
@media (max-width: 1420px) {
    .partner_arrow {
        display: flex;
    }
}
@media (max-width: 992px) {
    .contact_map__block {
        height: unset !important;
    }
    .usually_section {
        .eleek_arrow__block {
            margin-right: 0 !important;
        }
        .eleek_title__wrap {
            width: 100% !important;
        }
    }
    
}
@media (max-width: 533px) {
    .partner_title__wrap {
        margin-bottom: 20px;
    }
    .usually_section {
      
        .eleek_title__wrap {
            width: 100% !important;
            padding: 0px 15px;
        }
    }
    .partners_block {
        padding: 25px 15px;
    }
}










@media (max-width: 992px) {
    .drive_form__block {
        flex-direction: column;
        padding: 0;

        .btn_standart {
            margin: 0 auto;
        }        
    }
    .drive__form {
        width: 100%;
        margin-top: 0;
    }
    .drive_map__block {
        width: 100%;
        height: 100vh;
    }
    .bg_for_usually_page {
        height: 40vh;
    }
}
@media (max-width: 902px) {
    .bg_for_usually_page {
        height: 60vh;
        .eleek_video {
            top: 100px;
        }
    }
}
@media (max-width: 533px) {
    .bg_for_usually_page {
        height: 300px;
        .eleek_video {
            top: 60px;
        }
    }
    .drive__form {
        padding: 25px 15px;
    }
}