# django 
django 
django-decouple
django-cors-headers 
django-modeltranslation 
django-mptt 
django-crispy-forms
django-allauth 
django-import-export
django-debug-toolbar


# django admin 
django-admin-tools 
django-admin-sortable
django-admin-sortable2
django-admin-rangefilter
django-admin-autocomplete-filter
django-autocomplete-light
django-nested-admin
django-ckeditor
django-tinymce4-lite 
django-filebrowser-no-grappelli 
django-grappelli 
django-colorfield
django-rosetta 


# RESTful API
django-rest-framework
djoser 
djangorestframework_simplejwt

# graphql


# python 
transliterate 
pillow 
selenium 
bs4 
xlsxwriter
pandas 
celery 





django-froala-editor 
django-summernote 
django-markdownx
easy-thumbnails
django-filer


django-suit==0.2.26
easy-thumbnails