{% extends "core/base.html" %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block head_top_scripts %}

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-K7P4538DPT"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());

  gtag('config', 'G-K7P4538DPT');
</script>
{% endblock head_top_scripts %}

{% block head_bottom_scripts %}
{{block.super}}
{% if LANGUAGE_CODE == "ru" %}
<script src="//code.jivosite.com/widget/ueWUhdiuAB" async></script>
{% elif LANGUAGE_CODE == "en"%}
<script src="//code.jivosite.com/widget/hRgo04kG9Z" async></script>
{% elif LANGUAGE_CODE == "uk"%}
<script src="//code.jivosite.com/widget/nufdyzvj6V" async></script>

{% endif %}
{% endblock head_bottom_scripts %}




{% block outer_content %}
{% include 'project/includes/header.html' %}
<main class="{% block main_class %}{% endblock main_class %}">
  {% block content %}
  {% endblock content %}
  {% include 'project/includes/footer.html' %}
</main>
{% endblock outer_content %}