{% extends "core/base.html" %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block head_top_scripts %}

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-K7P4538DPT"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());

  gtag('config', 'G-K7P4538DPT');
</script>
{% endblock head_top_scripts %}

{% block head_bottom_scripts %}

<script type="text/javascript">
  (function(w,d){
    w.HelpCrunch=function(){w.HelpCrunch.q.push(arguments)};w.HelpCrunch.q=[];
    function r(){var s=document.createElement('script');s.async=1;s.type='text/javascript';s.src='https://widget.helpcrunch.com/';(d.body||d.head).appendChild(s);}
    if(w.attachEvent){w.attachEvent('onload',r)}else{w.addEventListener('load',r,false)}
  })(window, document)
  </script>
  
  <script type="text/javascript">
    HelpCrunch('init', 'eleekchat', {
      applicationId: 1,
      applicationSecret: '1XGi+02EzSf9Wsw+KtpSUCz3cBPY2QF5iJN0qtdPogD574439FLy2kbcis8ORi0wuhxhw+28EOByo+mAUmMhEQ=='
    })
  
    HelpCrunch('showChatWidget');

  </script>
  {{block.super}}
    {% if LANGUAGE_CODE == "ru" %}
    <script type="text/javascript">
        HelpCrunch('setPhraseList', 'ru');
    </script>
    {% elif LANGUAGE_CODE == "en"%}
    <script type="text/javascript">
      HelpCrunch('setPhraseList', 'en');
    </script>
    {% elif LANGUAGE_CODE == "uk"%}
    <script type="text/javascript">
      HelpCrunch('setPhraseList', 'uk');
    </script>
  {% endif %}
{% endblock head_bottom_scripts %}




{% block outer_content %}
{% include 'project/includes/header.html' %}
<main class="{% block main_class %}{% endblock main_class %}">
  {% block content %}
  {% endblock content %}
  {% include 'project/includes/footer.html' %}
</main>
{% endblock outer_content %}