{% extends "core/base.html" %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block head_top_scripts %}

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-K7P4538DPT"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());

  gtag('config', 'G-K7P4538DPT');
</script>

<script src="https://www.google.com/recaptcha/enterprise.js" async defer></script>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>

<script>
  function onClick(e) {
    e.preventDefault();
    grecaptcha.enterprise.ready(async () => {
      const token = await grecaptcha.enterprise.execute('6Lf415QpAAAAAA8vNs5__Btb5qP1qwxFS0PI2Ffe', { action: 'LOGIN' });
    });
  }
</script>

<!-- Hotjar Tracking Code for Site 5248411 (name missing) -->
<script>
  (function(h,o,t,j,a,r){
      h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
      h._hjSettings={hjid:5248411,hjsv:6};
      a=o.getElementsByTagName('head')[0];
      r=o.createElement('script');r.async=1;
      r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
      a.appendChild(r);
  })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>

{% endblock head_top_scripts %}

{% block head_bottom_scripts %}


{{block.super}}
{% if LANGUAGE_CODE == "ru" %}
<script type="text/javascript">
  HelpCrunch('setPhraseList', 'ru');
</script>
{% elif LANGUAGE_CODE == "en"%}
<script type="text/javascript">
  HelpCrunch('setPhraseList', 'en');
</script>
{% elif LANGUAGE_CODE == "uk"%}
<script type="text/javascript">
  HelpCrunch('setPhraseList', 'uk');
</script>
{% endif %}
{% endblock head_bottom_scripts %}




{% block outer_content %}
{% include 'project/includes/header.html' %}
<main class="{% block main_class %}{% endblock main_class %}">
  {% block content %}
  {% endblock content %}
  {% include 'project/includes/footer.html' %}
</main>
{% endblock outer_content %}