{% extends 'project/base.html' %}
{% load i18n sw_content %}
{% block styles %}
<link rel="stylesheet" href="/static/source/pages/drive/index.css.map">
<link rel="stylesheet" href="/static/source/lib/select2/select2.min.css">
<link rel="stylesheet" href="/static/source/lib/fancybox/jquery.fancybox.min.css">
<link rel="stylesheet" href="/static/source/pages/login/index.css">
<link rel="stylesheet" href="/static/source/pages/drive/index.css">
{% endblock styles %}
{% block main_class %}
item_section__wrapper
{% endblock main_class %}
{% block content %}
<section class="thankyou_section usually_section">
  {% render 'text63' as text63 %}
  <h1 class="db_content main__title main__title_1 color_black" data-admin_url="{{text63.get_admin_url}}">
    {{text63.text|safe}}
    <!-- Дякуємо за покупку! <br> Менеджер скоро з вами звяжеться! -->
  </h1>
</section>
{% endblock content %}
{% block scripts %}
<script src="/static/source/lib/jquery/index.js"></script> 
<script src="/static/source/lib/maskinput/maskinput.js"></script> 
<script src="/static/source/lib/lazyload/lazyloadxt.extra.js"></script> 
<script src="/static/source/lib/validation/validation.min.js"></script> 
<script src="/static/development/components/module/form_errors/index.js"></script> 
<script src="/static/source/lib/fancybox/jquery.fancybox.min.js"></script> 
<script src="/static/source/lib/select2/select2.full.min.js"></script> 
<script src="/static/source/pages/drive/index.js"></script> 
{% endblock scripts %}

